<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="utils.SuiteListener"></listener>
</listeners>
  <test thread-count="5" name="ChromeTest">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="qa.tests.Testcase1"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="FirefoxTest">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="qa.tests.Testcase1"/>
    </classes>
  </test>
    <test thread-count="5" name="EdgeTest">
  <parameter name="browser" value="edge"></parameter>
    <classes>
      <class name="qa.tests.Testcase1"/>
    </classes>
  </test>
</suite> <!-- Suite -->
